package {{packageName}}.dao.dataobject;

import lombok.Data;

/**
 * @author <a href="mailto:dzq90411@163.com">dzq</a>
 */
@Data
public class UserDO {
    private Long id;

    private String name;

    private Integer age;
}
